@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-Page: -9px 10px 2px  #93D666;
  --shadow-Page2: -8px 9px 4px  #B09F9F;
  --shadow-Dark: -9px 10px 2px #8866D6;
}

body {
  background: linear-gradient(180deg, #ffffff 47%, #a3a3a3 100%);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.shadow-text{
  text-shadow: 4px 4px 10px #000000;
}
.CircleLR {
  border-radius: 3px;
  width: 35%;
}

.CircleMIS {
  background-color: #88D752;
}

.scala {
  animation: scala 1.7s ease-in-out;
}

.scalaReverse {
  animation: scalaReverse 1.7s ease-in-out;
}

@keyframes scala {
  0% { transform: scale(0); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}


@keyframes scalaReverse {
  0% { transform: scale(0); }
  50% { transform: scale(0.98); }
  100% { transform: scale(1); }
}
